
body {
    display: block;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
}

.controlbar {
    width: calc(100% - 10px);
    height: 88px;
    border-bottom: 2px solid gray;
    padding: 5px;
    display: flex;
}

.data {
    margin-left: 20px;
    width: calc(100% - 600px);
}

.data textarea {
    width: 166px;
    height: 45px;
    margin-top: 5px;
}

.move-div button, input {
    width: 55px;
}

.tollbar {
    height: calc(100vh - 110px);
    width: 163px;
    border-right: 2px solid gray;
    padding: 5px;
}

.pn-search {
    margin-bottom: 10px;
}

.pn-search > input {
    width: 120px;
}

.container {
    width: calc(100vw - 170px);
    height: calc(100vh - 110px);
}

.colors-tab {
    display: flex;
    margin-bottom: 5px;
}

.colors-tab > input, select, .color-button {
    height: 20px;
    margin-right: 5px;
}

.controls {
    margin-bottom: 5px;
}

[draggable] {
    user-select: none;
}

.css-property-editor {
    display: block;
    overflow-y: auto;
    height: 80%;
}

.css-property {
    display: block;
    margin-top: 10px;
}

.css-prop-values {
    display: flex;
}

.css-prop-label {
    width: 100%;
    overflow-x: hidden;
}

.css-prop-select-val {
    width: 70px
}

.css-prop-select-color {
    width: 120px
}

.css-prop-input-val {
    width: 70px
}

.css-prop-select-unt {
    width: 50px
}

.css-prop-input-unt {
    width: 50px
}

.css-subprops {
    display: block;
    border-left: 2px solid gray;
    padding-left: 5px;
    height: 150px;
    overflow: auto;
}

button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 4px .5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #07c;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

button:active {
  background-color: #0064bd;
  box-shadow: none;
}
